* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: #121212;
}

h1 {
    align-self: center;
    padding-left: 8px;
    color: whitesmoke;
    user-select: none;
}

h3, p {
    color: #121212;
}

hr {
    height: 1px;
    border: none;
    background-color: black;
}

.app {
    display: grid;
    grid-template-rows: 48px 1fr;
    width: 800px;
    padding: 4px;
    border: 2px solid #3f3f3f;
    border-radius: 4px;
    background-color: #282828;
}

.content {
    display: grid;
    grid-template-columns: 256px 1fr;
    padding: 4px;
    gap: 8px;
}

.note-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    height: 400px;
    overflow: auto;
}

.note-preview-card {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: #8b8b8b;
    border: none;
    user-select: none;
}

.note-preview-card:hover {
    background-color: #f46583;
}

.note-preview-select-btn {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0;
}

.note-preview-select-btn:hover {
    cursor: pointer;
}

.delete-note-btn {
    z-index: 2;
    position: absolute;
    top: 25%;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: x-large;
    background: none;
    color: #282828;
    border: none;
    visibility: hidden;
}

.delete-note-btn:hover {
    cursor: pointer;
    color: whitesmoke;
}

.delete-btn-visible {
    visibility: visible;
}

.note-editor {
    display: grid;
    grid-template-rows: 32px 8px 1fr;
    gap: 4px;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.note-editor-placeholder {
    height: 1fr;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-size: x-large;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    user-select: none;
}

.add-note-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: x-large;
    border: none;
    border-radius: 4px;
    background-color: #e91e63;
    color: whitesmoke;
}

.add-note-btn:hover {
    cursor: pointer;
    background-color: #f46583;
}

.selected-note {
    background-color: #ffaab6;
}

.title-input, .note-input {
    width: 100%;
    border: none;
    background-color: whitesmoke;
    resize: none;
}

.title-input:focus, .note-input:focus {
    outline: none;
}

.title-input {
    font-size: x-large;
    font-weight: 700;
    overflow-x: auto;
    overflow-y: hidden;
}

.note-input {
    font-size: large;
}